<!-- Page Content -->
<div id="page-content-wrapper">

  {{ partial "nav.html" . }}

  <div class="container-fluid">
    <h1 class="mt-4">{{ .Title }}</h1>
    {{ .Content }}
  </div>
</div>
<!-- /#page-content-wrapper -->