<!-- Bootstrap core JavaScript -->
<script src="{{ .Site.BaseURL }}vendor/jquery/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="{{ .Site.BaseURL }}vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom JavaScript for this theme -->
<script src="{{ .Site.BaseURL }}js/scrolling-nav.js"></script>
