<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; {{ .Site.Title }} {{ now.Format "2006" }}</p>
  </div>
  <!-- /.container -->
</footer>