<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ .Site.Params.Description }}">
  <meta name="author" content="{{ .Site.Params.Author }}">

  <title>{{ .Page.Title }}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ .Site.BaseURL }}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ .Site.BaseURL }}css/scrolling-nav.css?{{ now.Unix }}" rel="stylesheet">

</head>