<!DOCTYPE html>
<html lang="en">

{{ partial "html-head.html" . }}

<body id="page-top">

  {{ partial "navigation.html" . }}

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>{{ .Site.Title }}</h1>
      <a class="btn btn-lg btn-light btn-vcf btn-slanted" href="https://forms.gle/x29M8v8wuTJJuVbN9" role="button"><span class="content">Click here to join us!</span></a>
    </div>
  </header>

  {{ $.Scratch.Set "counter" 0 }}
  {{ range sort .Site.Pages ".Page.File.LogicalName" "asc" }}
    {{ if eq .Params.Menu "main" }}
      {{ $c := $.Scratch.Get "counter" }}
      <section id="{{ .Title | anchorize }}"{{ if ne (mod $c 2) 0 }} class="bg-light"{{ end }}>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2>{{ .Title }}</h2>
              <p class="lead">{{ .Params.Lead | markdownify }}</p>
              {{ .Content }}
            </div>
          </div>
        </div>
      </section>
      {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
    {{ end }}
  {{ end }}

  {{ partial "footer.html" . }}  
  {{ partial "footer-includes.html" . }}

</body>
</html>
